@model JockeyGames.Client.ViewModels.StatsDetailViewModel

@{
    ViewBag.Title = "Details";

    var className = "";
    if (Model.MatchScore > 1 && Model.MatchScore <= 12)
    {
        className = "danger";
    }
    else if (Model.MatchScore > 12 && Model.MatchScore <= 29)
    {
        className = "sunset";
    }
    else if (Model.MatchScore > 29 && Model.MatchScore <= 42)
    {
        className = "warning";
    }
    else if (Model.MatchScore > 42 && Model.MatchScore <= 55)
    {
        className = "success";
    }
    else if (Model.MatchScore > 55 && Model.MatchScore <= 65)
    {
        className = "info";
    }
    else if (Model.MatchScore > 65 && Model.MatchScore <= 80)
    {
        className = "seablue";
    }
    else if (Model.MatchScore > 80)
    {
        className = "darkblue";
    }
}

<h2>Details</h2>

<div>
    <h4>Stats</h4>
    <hr />
    <div class="alert alert-warning">
        How are stats calculated? @Html.ActionLink("Click me to find out how", "How", "Stats")
    </div>

    <dl class="dl-horizontal alert-@(className)">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchScore)®
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchScore)
        </dd>
    </dl>
    <hr />
    <dl class="dl-horizontal">        
        <dt>
            @Html.DisplayNameFor(model => model.TotalGamesWon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalGamesWon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMatchesWon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMatchesWon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalGamesPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalGamesPlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMatchesPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMatchesPlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameWinPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameWinPercentage)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchWinPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchWinPercentage)%
        </dd>
    </dl>

    
    <br />
    <h4>Opponent history</h4>
    <table class="table">

        <thead>
            <tr>
                <th>Opponent</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win rate</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.MatchHistory.Count; i++)
            {
                <tr>
                    <td><a href="/Stats/Details/@(Model.MatchHistory[i].OpponentId)">@Model.MatchHistory[i].OpponentName</a></td>
                    <td>@Model.MatchHistory[i].WinCount</td>
                    <td>@Model.MatchHistory[i].LossCount</td>
                    <td>@(Model.MatchHistory[i].WinRate)%</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Back to stats", "All")
</p>
