@model JockeyGames.Client.ViewModels.MatchViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player2.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.G1P1Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.G1P1Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.G1P2Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.G1P2Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.G2P1Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.G2P1Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.G2P2Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.G2P2Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.G3P1Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.G3P1Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.G3P2Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.G3P2Score)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
